body{

    font-family: 'Otomanopee One', sans-serif;
   margin: 0%;
   margin-top: 4%;

    
}
section{
    display: flex;
    margin-bottom: 2%;
    margin-top: 4%;

    
  
}
h1{
    font-size: 40px;
    margin: 0;
    
}
span{

    color: orangered;
}
.half-width{

    width: 80%;
    margin-left: 4%;
    text-align: justify;
}
.half-width img{

    width: 500px;
    margin-left: 30%;
 
   
}
.half-width-2{

    text-decoration: none;
    width: 80%;
    margin-left: 4%;

}
.half-width-2 p{

    margin-left: 12%;
    margin-top: 8%;
    text-align: justify;

}
.half-width-2 img{

    width:500px ;
}

.background-pic{

    background-image: url(../Images/7.png);
    background-size: 100% 100%;
    
}

.background-pic img{
    margin-left: 20%;
    width: 600px;
    
}
#Achivement{

    text-align: center;
    margin-left: 100%;
    color: orangered;
    font-size: 30px;
}
#paragraph{

    text-align: center;
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 30%;

    
}

.Box{
  
     border: 2px solid red;
    height: 400px;
    width: 400px;
   
    margin-left: 2%;
    box-shadow: 2px 2px 40px rgb(125, 128, 119);
    border-radius: 40%;
}
.Box img{

    width: 200px;
    margin-left:15% ;
    margin-top: 20%;
}
h3{
    text-align: center;
    border: 2px solid red;
    width: 40%;
    margin-left: 25%;
    border-radius: 50%;
}

